<section class="section">
  <div class="container">
    <div class="columns">  
      <!-- 左パネル -->
      <div class="column">
        <div class="columns is-multiline">
          <!-- 上部 -->
          <div class="column is-full">
            <div class="card">
              <!-- 画像 -->
              <div class="card-content is-horizontal-center is-flex">
                <figure class="image is-256x256 m-auto">
                  <%= image_tag avatar_url(@user) %>
                </figure>
              </div>             
              <div class="card-content">
                <!-- 画像アップロードボタン -->
                <div class="content has-text-centered">
                  <p class="title is-5">
                    <%= @user.full_name %>
                  </p>
                </div>
                <hr class="h-10">
                <!-- アカウント情報 -->
                <article class="media">
                  <div class="media-content">アカウント登録日</div>
                  <div class="media-right">
                    <strong><%= I18n.l(@user.created_at, format: :full_date) %></strong>
                  </div>
                </article>
                <hr class="h-10">            
                <!-- オンラインステータス -->
                <article>
                  <div class="media">
                    <div class="media-content">ステータス</div>
                    <div class="media-right">
                      <strong><% if @user.status %> オンライン <% else %> オフライン <% end %></strong>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <!-- 下部 -->
          <div class="column is-full">
            <div class="card">
              <div class="card-content">
                <!-- アカウント詳細 -->
                <article>
                  <div class="media">
                    <div class="media-content">
                      <p>
                        <strong>自己紹介</strong>
                        <br>
                        <%= @user.about %>
                      </p>
                    </div>
                  </div>
                </article>
                <hr class="h-10">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
