<div class="airport">
  <h1>Go Airportとは</h1>
</div>
<div class="service">
  全国の空港に関する情報の投稿や投稿 場所が検索できるサービスです。
  空港巡りが趣味の方や旅行 出張で空港を利用する方など
  どなたでも気軽に利用していただけますと幸いです。
</div>
<div class="airport-post">
  <h1>投稿方法</h1>
</div>
<div class="airport-posts">
  新規登録 ログインが完了しましたら右上のアイコンの中にある投稿するリンクからお願いします。
</div>
<div class="link-info">
  <%= link_to  "新規ユーザ登録はこちら！", new_user_registration_path, class: "all-link" %>
</div>
