<div class="map-search"><h1>空港を探す</h1></div>

<div class="airport-map">
  <input id="address" type="textbox" placeholder="空港名で検索">
  <input id="sbtn" type="button" value="検索" onclick="codeAddress()">
</div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
  margin-top: 30px;
}
</style>

<script>
  let map
  let marker = [];
  let infoWindow = [];
  let markerData = [ // マーカーを立てる場所名・緯度・経度
  {
       name: '秋田空港',
       lat: 39.616665,
        lng: 140.21666,
 }, {
        name: '奄美空港',
     lat: 28.416666,
        lng: 129.71666,
 }, {
        name: '青森空港',
     lat: 40.716667,
      lng: 140.68333
 }, {
        name: '調布空港',
        lat: 35.666668,
        lng: 139.51666
 }, {
        name: '福江空港',
     lat: 32.666668,
     lng: 128.81667
 }, {
        name: '',
       lat: 35.696932,
     lng: 139.76543200000003
 }
];
    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.68123620000001, lng:139.7671248},
          zoom: 5
      });
      for (var i = 0; i < markerData.length; i++) {
        markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
        marker[i] = new google.maps.Marker({ // マーカーの追加
         position: markerLatLng, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
       });
 
     infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
         content: '<div class="sample">' + markerData[i]['name'] + '</div>' // 吹き出しに表示する内容
       });
 
     markerEvent(i); // マーカーにクリックイベントを追加
 }
 
   marker[0].setOptions({// TAM 東京のマーカーのオプション設定
        icon: {
         url: markerData[0]['icon']// マーカーの画像を変更
       }
   });

      }
      function markerEvent(i) {
        marker[i].addListener('click', function() { // マーカーをクリックしたとき
          infoWindow[i].open(map, marker[i]); // 吹き出しの表示
        });
      }

      let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
